{% extends 'base.html' %}
{% block menu %}
{% endblock %}
{% block content %}
<div class="container">
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body mb-2">
            <h5 class="card-title">Название: {{ product.name }}</h5>
            <p class="card-text">Описание: {{ product.description }}</p>
            <p class="card-text">Категория: {{ product.get_category_display }}</p> 
            {% if product.pic %} 
            <img class="pic" src="{{ product.pic.url }}" width="250" height="250" alt="product picture">
            {% endif %}
            <p><a href="{% url 'webapp:product_edit' product.pk %}">Редактировать товар</a></p>
            <p><a href="{% url 'webapp:product_delete' product.pk %}">Удалить товар</a></p>
        </div> 
        </div>
</div>
{% endblock %}    